Package: daijin
Architecture: [arch]
Installed-Size: [size]
Maintainer: Moe-hacker
Version: 2.0.0
Homepage: https://github.com/RuriOSS/daijin
Depends: tsu, coreutils, tar, git, wget, dpkg, proot, termux-tools
Description: Lightweight container manager for Termux with modern TUI

